name: Release

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
    
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v3
    
    - name: Build with Gradle
      run: ./gradlew build
    
    - name: Create JAR
      run: ./gradlew jar

    - name: Upload JAR to release
      uses: softprops/action-gh-release@v2
      with:
        files: ./build/libs/project-1.0.0.jar
